@use "mixins"
@use "variables"

   

.contents
    @include mixins.contents-grid

.header-contents 
    display: grid
     

    h2
        font-size: 30px
        align-items: center

.Cols
    display: grid
    grid-template-columns: repeat(2, 1fr)

#BotaoIniciar
    background-color: variables.$bg-color
    transition: .4s

    &:hover
        background-color: variables.$bghover-color

#IniciarSessao
    background-color: variables.$bgPasswordRecovery-color

    &:hover
        background-color: variables.$bgPasswordRecovery-hover 

#ButtonSearch
    background-color: variables.$bgPasswordRecovery-color
    transition: .4s

    &:hover
        background-color: variables.$bgPasswordRecovery-hover           

#BotaoCriarNovaConta
    background-color: #42B72A
    transition: .4s

    &:hover
        background-color: #43a730

#headerdropdown
    width: 250px
    height: 270px
    margin-top: 35px
    margin-left: -20px
    display: flex
    flex-direction: column

    &-largura
        width: 230px
        height: 190px
        margin: auto
        margin-left: 10px
        display: flex
        flex-direction: column
        

    &-IniciarSessao
        background-color: red

    &-Paragrafo
        height: 85px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center        
    
    &-button
        margin-bottom: 5px
        margin-top: 8px
        display: flex
        justify-content: center
        align-items: center
        font-weight: bold
        width: 85px
        height: 30px
        background-color: #42B72A
        transition: .4s

        &:hover
            background-color: #43a730


