@use "mixins"
@use "variables"

   
#navbar
    background-color: #3b5998

#facebook
    font-weight: bold
    color: #0866ff

#BotaoIniciar
    background-color: #1877f2    

#BotaoCriarNovaConta
    background-color: #36a420    
