@use "mixins"
@use "variables"

   

.contents
    @include mixins.contents-grid

.header-contents 
    display: grid
     

    h2
        font-size: 30px
        align-items: center

.Cols
    display: grid
    grid-template-columns: repeat(2, 1fr)

#BotaoIniciar
    background-color: variables.$bg-color
    transition: .4s

    &:hover
        background-color: variables.$bghover-color


